html {
    font-size: 100%;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}

body {
    font-family: 'Roboto', serif;
    color: black;
    background-color: rgb(251, 238, 248);
}

#PTIT-logo {
    width: 4%;
    margin: 1.5%;
    margin-top: 0;
    float: left;
    border-radius: 5%;
}


h1 {
    margin-top: 2%;
    margin-bottom: 2%;
}

.mainPage {
    background-color: #ffffff;
    width: 50%;
    height: 400px;
    margin-left: 8%;
    margin-right: 6%;
    margin-top: 5%;
    margin-bottom: 3%;
    padding: 30px;
    border-radius: 20px;
}

.subPage{
    background-color: #ffffff;
    width: 25%;
    height: 630px;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 5%;
    margin-bottom: 3%;
    padding: 30px;
    border-radius: 20px;
    position: fixed;
    right: 0;
    top: 0;
}

.schedulePage{
    background-color: #ffffff;
    width: 50%;
    height: 130px;
    margin-left: 8%;
    margin-right: 6%;
    margin-top: 0;
    margin-bottom: 3%;
    padding: 30px;
    border-radius: 20px;
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.attendedStu{
    background-color: #e3ffe0;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 0;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    font-size: 28px;
}

.lateStu{
    background-color: #fffae0;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 0;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    font-size: 28px;
}

.absentStu{
    background-color: #ffe0e0;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 0;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    font-size: 28px;
}
p{
    text-align: center;
    margin: 0;
    padding: 65px;
    padding-bottom: 0;
    padding-top: 0;
    font-size: 20px;
}
.nameList{
    padding-left: 20px;
}